.missions-table {
  border-collapse: collapse;
  margin-top: 1.5rem;
}

.mission-th,
.mission-td {
  border: 1px solid #ccc;
  padding: 8px;
}

.row-cell:nth-child(odd) {
  background-color: #cccccc30;
}

.member-button {
  font-size: 0.8rem;
  padding: 0.1rem 0.2rem;
}

.join-button {
  display: block;
  margin: auto;
}

.column-1 {
  width: 8rem;
}

.column-2 {
  width: 55rem;
}

.column-4 {
  width: 9.5rem;
}

.mission-description {
  font-size: 0.85rem;
  font-weight: normal;
}

.mission-name {
  vertical-align: top;
}
